* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
  background-color: darkviolet;
  color: white;
  padding: 2rem 1rem;
}

.flex {
  display: flex;
  flex-direction: row;
}

nav {
  width: 30%;
}
main {
  width: 40%;
}
aside {
  width: 30%;
}

nav li {
  color: white;
  background-color: hsl(195, 100%, 40%);
  margin: 10px;
  padding: 10px;
}
nav li:hover {
  background-color: hsl(195, 100%, 50%);
}

/* main p {
  margin-top: 15px;
} */

main h2 {
  margin: 15px 0;
  font-size: 30px;
}

aside {
  margin-top: 10px;
  background-color: hsl(195, 100%, 40%);
  text-align: center;
  padding: 10px;
  color: white;
}

aside h3 {
  padding: 10px;
}

aside p {
  padding: 10px;
}

footer {
  margin-top: 3rem;
  text-align: center;
  color: white;
  padding: 30px;
  background-color: hsl(195, 100%, 35%);
}

@media only screen and (max-width: 768px) {
  .flex {
    flex-direction: column;
  }
  nav,
  main,
  aside {
    width: 100%;
  }

  main {
    padding: 20px;
  }

  footer {
    margin-top: 0;
  }
}
